<h1>Editing Iteration</h1>

<%= render 'form', iteration: @iteration %>

<%= link_to 'Show', project_iteration_path(@project.id, @iteration.id) %> |
<%= link_to 'Back', project_iterations_path(@project.id) %>
