<h1>Movies</h1>
<ul>
  <li>Iron Man</li>
  <li>Superman</li>
  <li>Spider-Man</li>
  
</ul>

<ul>
	<% @movies.each do |movie| %>
		<li>
			<%= movie.title %>,
			Rating: <%= movie.rating %>,
			kostet: <%= format_price(movie) %>
		</li>
	<% end %>
</ul>

