<h1>Movies</h1>
<ul>
  <li>Iron Man</li>
  <li>Superman</li>
  <li>Spider-Man</li>
  
</ul>

<ul>
	<% @movies.each do |movie| %>
		<table>
			<tr>
			<td><%= movie.title %>,</td>
			<td>Rating: <%= movie.rating %>,</td>
			<td>kostet: <%= format_price(movie) %></td>
			<td><%= link_to 'Edit', edit_movie_path(movie.id) %></td>
			</tr>
		</table>
	<% end %>
</ul>

